# Android Studio / Gradle
*.iml
.gradle
/local.properties
# IDEs
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# 🔐 Firebase / Google services (SENSIBLE)
google-services.json
app/google-services.json